<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/style.css' %}" type="text/css">

</head>
<body>
    {% load static %}
    <script src="{% static 'main/js/script.js' %}"></script>
    <nav class="toolbar">
    <button>Button 1</button>
    <button>Button 2</button>
    <button>Button 3</button>
    </nav>

    <section class="section" id="section1">
        <h2 class="head1">Who am I?</h2>
        <p class="p1">Hello! I am Shivam, a Software Developer with a passion for Qt and Fullstack development.
        </p>

    </section>
    <section class="section reverse" id="section2">
        <h2 class="head2">Work Experience</h2>
        <p class="p2">Hello! I am Shivam, a Software Developer with a passion for Qt and Fullstack development.
        </p>

    </section>
    
</body>
</html>